# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables (credenciales)
.env

# Excel outputs
*.xlsx
*.xls

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter (por si usas)
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
